.vscode/
*/node_modules
*/.env
*/.idea
*/.gitignore
*/.git
TelegramBot_weather_cast/dot.json
TelegramBot_weather_cast/telega_bot.jpg
"TelegramBot_weather_cast/tg buttons.txt"
"TelegramBot_weather_cast/web sock.txt"
Correctarium/coverage/
Correctarium/demo/
Auth_Backend/mb server.js
JSON_storage/src/.idea/
Crypto_Rest_API_Backend_TS/src/testing.ts
Crypto_Rest_API_Backend_TS/src/allIn.ts
Crypto_Rest_API_Backend_TS/.eslintrc.js
Crypto_Rest_API_Backend_TS/js/allIn.js
Crypto_Rest_API_Backend_TS/testing.js
rebuild/src/functions/AWSsecret.ts
TS/src/.idea/
redistribution/src/.env
CLI_Google_Uploader/client_secret_982429572292-70otvf8p8a3elu6eosspr0gkog0esqo0.apps.googleusercontent.com.json
Northwind/NorthwindTraders_Data.zip
Northwind/Telegram Archive/
Northwind/testing.js
Northwind/testing.json
