.dash-container {
  display: grid;
  align-content: column;
  padding: 1.5rem;

  .metrics {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px;
    margin-bottom: 1.5rem;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .desc {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .meta-data {
    font-size: 12px;
    color: #9ca3af;
  }

  .query{
    line-height: 20px;
    font-size: 14px;
    font-family: ui-monospace, monospace;
  }
}
