.home-content-block {
  padding: 1.5rem;

  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 1rem;
    a {
      text-decoration: unset;

      &:visited {
        color: #2563eb;
      }
    }
  }

  .running-on {
    font-size: 18px;
    line-height: 28px;
    color: #9ca3af;
  }

  img {
    float: right;
    width: 24rem;
    margin-top: -16px;
  }
}
