.pagination-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
  border: 1px solid RGB(243 244 245);

  .page-counter {
    font-size: 12.8px;
    line-height: 24px;
  }

  .page-btns-container {
    display: flex;
    align-items: center;

    li {
      margin: 0 0.25rem 0 0.25rem;

      .page-btn {
        display: flex;
        border: 1px solid RGB(249 250 251);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        user-select: none;
        line-height: 24px;

        &:hover {
          border-color: RGB(107 114 128);
        }
      }
    }

    .current-btn {
      .page-btn {
        border-color: RGB(209 213 219);
      }
    }

    .break {
      pointer-events: none;
      margin: -2px 0 0 0;
    }

    .break:has(a[aria-label="Jump backward"]),
    .page-btn-next,
    .page-btn-prev {
      display: none;
    }
  }
}
