.page-btns-container {
  display: flex;
  align-items: center;
  gap: 10px;

  .page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: transparent;
    height: 30px;
    width: 30px;
    outline: none;
    border-radius: 6px;
    user-select: none;

    &:hover {
      background: #e4e8f0;
      border: none;
    }
  }

  .current-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 30px;
    outline: none;
    border-radius: 6px;
    background: #e4e8f0;
    pointer-events: none;
  }

  .page-btn-next,
  .page-btn-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    width: 40px;
    height: 100%;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
      user-select: none;

    &:hover {
      border: black solid 1px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:100%;
    }

    &.disabled {
      &:hover {
        border: none;
      }
    }
  }
}
