.btn {
  button {
    text-decoration: none;
    color: #fff;
    background-color: RGB(239 68 68);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    line-height: 24px;
    border: 1px solid RGB(239 68 68);
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: RGB(220 38 38);
    }
  }
}
