header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  border-bottom: 1px solid RGB(243 244 246);
  background: #fff;

  .aside-ham {
    display: none;
  }

  .time {
    padding: 0.5rem 0.75rem;
    line-height: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 24px;
  }

  .ham-container {
    user-select: none;
    padding: 0.5rem 1.56rem 0.5rem 1.5rem;

    .ham-btn {
      cursor: pointer;

      p {
        margin: 1px 0 0 0.5rem;
      }

      &.ham-opened {
        color: #3b82f6;
      }
    }

    .links-container {
      z-index: 10;
      height: fit-content;
      width: 100%;
      background-color: #fff;

      .link {
        a {
          display: flex;
          color: unset;
          text-decoration: unset;
          align-items: center;
          padding: 0.5rem 0.75rem;

          p {
            font-size: 14px;
            line-height: 20px;
            margin-left: 0.5rem;
          }

          &:hover {
            color: rgb(118, 118, 118);
          }
        }
      }

      div:last-child {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1023px) {
  header {
    .aside-ham {
      display: block;
      margin: -2px 0 0 10px;
    }

    .time {
      display: none;
    }

    .ham-container {
      user-select: none;
      padding: 0.5rem 1.65rem;

      .ham-btn {
        p,
        .arrow {
          display: none;
        }
      }

      .links-container {
        position: fixed;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        div {
          margin: 0 0 25px 0;

          a {
            font-size: 2em;
          }
        }
      }
    }
  }
}

@media (max-width: 699px) {
  header {
    .ham-container {
      .links-container {
        div {
          a {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media (max-width: 447px) {
  header {
    .ham-container {
      .links-container {
        div {
          a {
            font-size: 1em;
          }
        }
      }
    }
  }
}
