.btn-main {
  background: #ff474d;
  border-radius: 18px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 12px 32px 19px 33px;

  &:hover {
    background: rgba(255, 71, 77, 0.8);
  }

  &:active {
    background: rgba(255, 71, 77, 0.8);
  }

  &.transaction {
    padding: 11px 39px 19px;
    border-radius: 17px;
  }

  &.features-first-block {
    position: relative;
    right: 3px;
    padding: 13px 48.67px 18px 50.37px;
  }
  &.send-form-btn {
    border-radius: 19px;
    padding: 14px 73px 17px 72px;
  }

  &.form-btn-close {
    padding: 14px 81px 17px 78px;
    margin-right: 14px;
    border-radius: 20px;
  }
}

.form-btn {
  padding: 14px 74px 17px 71px;
  border-radius: 18.6667px;
  margin: 13px 0px 11px 0px;
}

@media (max-width: 1919px) {
  .btn-main {
    padding: 12px 33px 16px 32px;
    font-size: 16px;

    &.send-form-btn {
      padding: 11px 64px 16px 64px;
      border-radius: 16px;
      margin-left: 1.4px;
    }

    &.transaction {
      border-radius: 17px;
      padding: 12px 37px 16px 37px;
    }

    &.features-first-block {
      padding: 12px 44.67px 16px 45.67px;
      border-radius: 16px;
    }

    &.form-btn-close {
      margin: 0;
      padding: 14px 72px 17px 69px;
    }
  }

  .form-btn {
    font-size: 16px;
    margin: 11px 0px 13px 3px;
    padding: 11px 63.33px 16px 63.66px;
    border-radius: 16px;
    width: 180px;
  }
}

@media (max-width: 1439px) {
  .btn-main {
    padding: 12px 33px 16px 32.5px;
    border-radius: 17px;
    padding-right: 32px;

    &.transaction {
      padding: 12px 37px 16px 37px;
    }

    &.send-form-btn {
      padding: 14px 64px 14px 63px;
      border-radius: 16px;
    }
  }

  .form-btn {
    padding: 15px 34px 13px 33px;
    margin: 12px 0px 14px 3px;
  }
}

@media (max-width: 1279px) {
  .form-btn {
    padding: 14px 32px;
    font-weight: 600;
    border-radius: 16px;
    letter-spacing: 0.05px;
    margin-bottom: 13px;
  }

  .btn-main {
    border-radius: 16px;
    padding: 12px 32.4px 16px 32.1px;

    &.send-form-btn {
      border-radius: 16px;
      padding: 14px 64.4px 14px 63.5px;
    }

    &.form-btn-close {
      margin-right: 0;
      border-radius: 16px;
      padding: 12px 69.97px 16px 68.33px;
    }
  }
}

@media (max-width: 1023px) {
  .btn-main {
    padding: 14px 32px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 17px;
    padding-left: 32px;
    border-radius: 16px;

    &.transaction {
      padding: 10px 37.33px 14px 36.5px;
      line-height: 24px;
      margin-right: 1px;
      font-weight: 600;
      letter-spacing: 0.03px;
      border-radius: 16px;
    }

    &.features-first-block {
      padding: 12px 45px 16px 46px;
      margin-left: 8px;
      line-height: 20px;
    }

    &.send-form-btn {
      padding: 14px 64.4px 17px 63.5px;
    }

    &.form-btn-close {
      margin-right: 2px;
      padding: 14px 69.97px 17px 68.33px;
    }
  }
}

@media (max-width: 767px) {
  .btn-main {
    padding: 14px 32.4px 17px 31.6px;
    font-size: 16px;
    line-height: 17px;
    border-radius: 16px;

    &.transaction {
      margin-left: 25.3px;
      padding: 10px 37.13px 14px 36.7px;
    }

    &.features-first-block {
      margin-left: 7px;
      padding: 12px 45px 16px 46px;
    }

    &.form-btn-close {
      margin-right: 0;
    }
  }
}
