aside {
  height: 100vh;
  background: #1f2937;
  position: sticky;
  top: 0;

  .logo-container {
    height: 3.5rem;
    background: RGB(17 24 39);
    display: flex;
    align-items: center;
    padding: 0px 26px 1px 12px;
  }

  .logo-link {
    text-decoration: unset;
    font-size: 20px;
    color: #fff;

    h1 {
      font-weight: 900;
      span {
        font-weight: 400;
      }
    }
  }

  .pheader-f,
  .pheader-s {
    padding: 0.75rem;
    font-weight: 400;
    font-size: 12px;
    color: #9ca3af;
  }

  .nav-link {
    display: flex;
    color: RGB(209 213 219);
    text-decoration: unset;
    line-height: 25px;
    padding: 0.5rem 0 0.5rem 0;

    &.active,
    &:hover {
      background: RGB(55 65 81);
    }

    .material-icons {
      width: 3rem;
      display: flex;
      justify-content: center;
    }

    &-content {
      margin-top: -1px;
    }
  }
}

@media (max-width: 1023px) {
  aside {
    position: relative;
    z-index: 2;

    &.hidden {
      display: none;
    }
  }
}
