main {
  width: 100vw;
  height: calc(100vh - 33px);
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 100px;
    }
  }
}
