.tab-btn {
  padding: 10px 33px 11px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  background: #f3f4f5;
  border-radius: 8px;
  border: 1px solid #f3f4f5;
  color: #212121;
  text-decoration: none;
  &:hover {
    background-color: rgba(243, 244, 245, 0.6);
    border: 1px solid rgba(243, 244, 245, 0.6);
  }
  &.active {
    border: 1px solid #212121;
  }
}

@media (max-width: 1439px) {
  .tab-btn {
    padding: 10px 34px 10.7px 32px;
  }
}

@media (max-width: 767px) {
  .tab-btn:nth-child(n) {
    font-size: 14px;
    line-height: 17px;
  }
}
